@import "./fonts.css";

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Basics */
  --white: #ffffff;
  --anti-flash-white: #f0f1f3;
  --platinium: #e0e4e6;
  --silver-soft: #d6d8da;
  --gray-soft: #9b9b9b;
  --gray: #575959;
  --black: #000000;
  /* Mains */
  --piccolo: #4e46b4;
  --jiren: rgba(78, 70, 180, 0.12);
  --hit: #40a69f;
  --heles: #0000000a;
  --beerus: #e2e2e2;
  --goku: #f5f5f5;
  --goten: #fff;
  --zeno: #0000008f;
  --bulma: #000;
  --trunks: #595d62;
  /* Semantics */
  --krillin: #FFB319;
  --krillin-60: #ffb3198f;
  --krillin-10: #ffb31a1f;
  --dodoria: #D33030;
  --dodoria-60: #d330308f;
  --dodoria-10: #d330301f;
  --whis: #3448F0;
  --whis-60: #3448f08f;
  --whis-10: #3448f01f;
  --chichi: #FF4E64;
  --chichi-60: #ff4e648f;
  --chichi-10: #ff4e641f;
  --cell: #95F1D5;
  --cell-60: #95f1d58f;
  --cell-10: #95f1d51f;
  --frieza: #5C33CF;
  --frieza-60: #5c33cf8f;
  --frieza-10: #5c33cf1f;
  --roshi: #2E7D32;
  --roshi-60: #2e7d328f;
  --roshi-10: #2e7d321f;
  --raditz: #B3804A;
  --raditz-60: #b3804a8f;
  --raditz-10: #b3804a1f;
  --nappa: #725550;
  --nappa-60: #7255508f;
  --nappa-10: #7255501f;
}
